    /*
    Flaticon icon font: Flaticon
    Creation date: 18/11/2020 11:07
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cerveza:before { content: "\f100"; }
.flaticon-bar:before { content: "\f101"; }
.flaticon-coctel:before { content: "\f102"; }
.flaticon-coctel-1:before { content: "\f103"; }
.flaticon-coctel-2:before { content: "\f104"; }
.flaticon-martini:before { content: "\f105"; }
.flaticon-coctel-3:before { content: "\f106"; }
.flaticon-salon:before { content: "\f107"; }
.flaticon-coctel-4:before { content: "\f108"; }
.flaticon-jarra-de-agua:before { content: "\f109"; }
.flaticon-persona:before { content: "\f10a"; }
.flaticon-papas-fritas:before { content: "\f10b"; }
.flaticon-hamburguesa:before { content: "\f10c"; }
.flaticon-papel-picado:before { content: "\f10d"; }
.flaticon-calendario:before { content: "\f10e"; }
.flaticon-baile:before { content: "\f10f"; }
.flaticon-comida-rapida:before { content: "\f110"; }
.flaticon-tequila:before { content: "\f111"; }
.flaticon-tequila-1:before { content: "\f112"; }
.flaticon-pizza:before { content: "\f113"; }
.flaticon-tablero:before { content: "\f114"; }
    
    $font-Flaticon-cerveza: "\f100";
    $font-Flaticon-bar: "\f101";
    $font-Flaticon-coctel: "\f102";
    $font-Flaticon-coctel-1: "\f103";
    $font-Flaticon-coctel-2: "\f104";
    $font-Flaticon-martini: "\f105";
    $font-Flaticon-coctel-3: "\f106";
    $font-Flaticon-salon: "\f107";
    $font-Flaticon-coctel-4: "\f108";
    $font-Flaticon-jarra-de-agua: "\f109";
    $font-Flaticon-persona: "\f10a";
    $font-Flaticon-papas-fritas: "\f10b";
    $font-Flaticon-hamburguesa: "\f10c";
    $font-Flaticon-papel-picado: "\f10d";
    $font-Flaticon-calendario: "\f10e";
    $font-Flaticon-baile: "\f10f";
    $font-Flaticon-comida-rapida: "\f110";
    $font-Flaticon-tequila: "\f111";
    $font-Flaticon-tequila-1: "\f112";
    $font-Flaticon-pizza: "\f113";
    $font-Flaticon-tablero: "\f114";